.final_heart_coif1_2_Level_fixed_78850,
.final_heart_coif1_2_Level_fixed_78851,
.final_heart_coif1_2_Level_fixed_78852,
.final_heart_coif1_2_Level_fixed_78853 { background-image: url('final_heart_coif1_2_Level_fixed_7885_icons.png'); width: 16px; height: 16px; }

.final_heart_coif1_2_Level_fixed_78850 { background-position: -0px; }
.final_heart_coif1_2_Level_fixed_78851 { background-position: -16px; }
.final_heart_coif1_2_Level_fixed_78852 { background-position: -32px; }
.final_heart_coif1_2_Level_fixed_78853 { background-position: -48px; }
