.db3_3_Level_fixdt_16960,
.db3_3_Level_fixdt_16961,
.db3_3_Level_fixdt_16962,
.db3_3_Level_fixdt_16963 { background-image: url('db3_3_Level_fixdt_1696_icons.png'); width: 16px; height: 16px; }

.db3_3_Level_fixdt_16960 { background-position: -0px; }
.db3_3_Level_fixdt_16961 { background-position: -16px; }
.db3_3_Level_fixdt_16962 { background-position: -32px; }
.db3_3_Level_fixdt_16963 { background-position: -48px; }
