.final_heart_sym2_level3_fixed_64050,
.final_heart_sym2_level3_fixed_64051,
.final_heart_sym2_level3_fixed_64052,
.final_heart_sym2_level3_fixed_64053 { background-image: url('final_heart_sym2_level3_fixed_6405_icons.png'); width: 16px; height: 16px; }

.final_heart_sym2_level3_fixed_64050 { background-position: -0px; }
.final_heart_sym2_level3_fixed_64051 { background-position: -16px; }
.final_heart_sym2_level3_fixed_64052 { background-position: -32px; }
.final_heart_sym2_level3_fixed_64053 { background-position: -48px; }
