.final_heart_sym3_3_Level_fixed_80250,
.final_heart_sym3_3_Level_fixed_80251,
.final_heart_sym3_3_Level_fixed_80252,
.final_heart_sym3_3_Level_fixed_80253 { background-image: url('final_heart_sym3_3_Level_fixed_8025_icons.png'); width: 16px; height: 16px; }

.final_heart_sym3_3_Level_fixed_80250 { background-position: -0px; }
.final_heart_sym3_3_Level_fixed_80251 { background-position: -16px; }
.final_heart_sym3_3_Level_fixed_80252 { background-position: -32px; }
.final_heart_sym3_3_Level_fixed_80253 { background-position: -48px; }
