.final_heart_sym2_level3_hdl_6920,
.final_heart_sym2_level3_hdl_6921,
.final_heart_sym2_level3_hdl_6922,
.final_heart_sym2_level3_hdl_6923 { background-image: url('final_heart_sym2_level3_hdl_692_icons.png'); width: 16px; height: 16px; }

.final_heart_sym2_level3_hdl_6920 { background-position: -0px; }
.final_heart_sym2_level3_hdl_6921 { background-position: -16px; }
.final_heart_sym2_level3_hdl_6922 { background-position: -32px; }
.final_heart_sym2_level3_hdl_6923 { background-position: -48px; }
