.final_heart_sym2_level5_hdl_9720,
.final_heart_sym2_level5_hdl_9721,
.final_heart_sym2_level5_hdl_9722,
.final_heart_sym2_level5_hdl_9723 { background-image: url('final_heart_sym2_level5_hdl_972_icons.png'); width: 16px; height: 16px; }

.final_heart_sym2_level5_hdl_9720 { background-position: -0px; }
.final_heart_sym2_level5_hdl_9721 { background-position: -16px; }
.final_heart_sym2_level5_hdl_9722 { background-position: -32px; }
.final_heart_sym2_level5_hdl_9723 { background-position: -48px; }
