.db6_2level_final_hdl_71570,
.db6_2level_final_hdl_71571,
.db6_2level_final_hdl_71572,
.db6_2level_final_hdl_71573 { background-image: url('db6_2level_final_hdl_7157_icons.png'); width: 16px; height: 16px; }

.db6_2level_final_hdl_71570 { background-position: -0px; }
.db6_2level_final_hdl_71571 { background-position: -16px; }
.db6_2level_final_hdl_71572 { background-position: -32px; }
.db6_2level_final_hdl_71573 { background-position: -48px; }
