.final_heart_sym2_level2_fixed_hdl_11260,
.final_heart_sym2_level2_fixed_hdl_11261,
.final_heart_sym2_level2_fixed_hdl_11262,
.final_heart_sym2_level2_fixed_hdl_11263 { background-image: url('final_heart_sym2_level2_fixed_hdl_1126_icons.png'); width: 16px; height: 16px; }

.final_heart_sym2_level2_fixed_hdl_11260 { background-position: -0px; }
.final_heart_sym2_level2_fixed_hdl_11261 { background-position: -16px; }
.final_heart_sym2_level2_fixed_hdl_11262 { background-position: -32px; }
.final_heart_sym2_level2_fixed_hdl_11263 { background-position: -48px; }
