.final_heart_sym4_2_Level_fixed_64660,
.final_heart_sym4_2_Level_fixed_64661,
.final_heart_sym4_2_Level_fixed_64662,
.final_heart_sym4_2_Level_fixed_64663 { background-image: url('final_heart_sym4_2_Level_fixed_6466_icons.png'); width: 16px; height: 16px; }

.final_heart_sym4_2_Level_fixed_64660 { background-position: -0px; }
.final_heart_sym4_2_Level_fixed_64661 { background-position: -16px; }
.final_heart_sym4_2_Level_fixed_64662 { background-position: -32px; }
.final_heart_sym4_2_Level_fixed_64663 { background-position: -48px; }
