.db4_2_Level_fixdt_15320,
.db4_2_Level_fixdt_15321,
.db4_2_Level_fixdt_15322,
.db4_2_Level_fixdt_15323 { background-image: url('db4_2_Level_fixdt_1532_icons.png'); width: 16px; height: 16px; }

.db4_2_Level_fixdt_15320 { background-position: -0px; }
.db4_2_Level_fixdt_15321 { background-position: -16px; }
.db4_2_Level_fixdt_15322 { background-position: -32px; }
.db4_2_Level_fixdt_15323 { background-position: -48px; }
