.db2_level5_final_hdlsss_106520,
.db2_level5_final_hdlsss_106521,
.db2_level5_final_hdlsss_106522,
.db2_level5_final_hdlsss_106523 { background-image: url('db2_level5_final_hdlsss_10652_icons.png'); width: 16px; height: 16px; }

.db2_level5_final_hdlsss_106520 { background-position: -0px; }
.db2_level5_final_hdlsss_106521 { background-position: -16px; }
.db2_level5_final_hdlsss_106522 { background-position: -32px; }
.db2_level5_final_hdlsss_106523 { background-position: -48px; }
