.db3_2_Level_fixdt_16240,
.db3_2_Level_fixdt_16241,
.db3_2_Level_fixdt_16242,
.db3_2_Level_fixdt_16243 { background-image: url('db3_2_Level_fixdt_1624_icons.png'); width: 16px; height: 16px; }

.db3_2_Level_fixdt_16240 { background-position: -0px; }
.db3_2_Level_fixdt_16241 { background-position: -16px; }
.db3_2_Level_fixdt_16242 { background-position: -32px; }
.db3_2_Level_fixdt_16243 { background-position: -48px; }
