.db2_4_Level_fixdt_8550,
.db2_4_Level_fixdt_8551,
.db2_4_Level_fixdt_8552,
.db2_4_Level_fixdt_8553 { background-image: url('db2_4_Level_fixdt_855_icons.png'); width: 16px; height: 16px; }

.db2_4_Level_fixdt_8550 { background-position: -0px; }
.db2_4_Level_fixdt_8551 { background-position: -16px; }
.db2_4_Level_fixdt_8552 { background-position: -32px; }
.db2_4_Level_fixdt_8553 { background-position: -48px; }
