.final_heart_sym2_level4_hdl_8280,
.final_heart_sym2_level4_hdl_8281,
.final_heart_sym2_level4_hdl_8282,
.final_heart_sym2_level4_hdl_8283 { background-image: url('final_heart_sym2_level4_hdl_828_icons.png'); width: 16px; height: 16px; }

.final_heart_sym2_level4_hdl_8280 { background-position: -0px; }
.final_heart_sym2_level4_hdl_8281 { background-position: -16px; }
.final_heart_sym2_level4_hdl_8282 { background-position: -32px; }
.final_heart_sym2_level4_hdl_8283 { background-position: -48px; }
