.sym5_2_Level_63590,
.sym5_2_Level_63591,
.sym5_2_Level_63592,
.sym5_2_Level_63593 { background-image: url('sym5_2_Level_6359_icons.png'); width: 16px; height: 16px; }

.sym5_2_Level_63590 { background-position: -0px; }
.sym5_2_Level_63591 { background-position: -16px; }
.sym5_2_Level_63592 { background-position: -32px; }
.sym5_2_Level_63593 { background-position: -48px; }
