.db5_2level_final_hdl_78090,
.db5_2level_final_hdl_78091,
.db5_2level_final_hdl_78092,
.db5_2level_final_hdl_78093 { background-image: url('db5_2level_final_hdl_7809_icons.png'); width: 16px; height: 16px; }

.db5_2level_final_hdl_78090 { background-position: -0px; }
.db5_2level_final_hdl_78091 { background-position: -16px; }
.db5_2level_final_hdl_78092 { background-position: -32px; }
.db5_2level_final_hdl_78093 { background-position: -48px; }
