.final_heart_sym3_4_Level_fixed_82230,
.final_heart_sym3_4_Level_fixed_82231,
.final_heart_sym3_4_Level_fixed_82232,
.final_heart_sym3_4_Level_fixed_82233 { background-image: url('final_heart_sym3_4_Level_fixed_8223_icons.png'); width: 16px; height: 16px; }

.final_heart_sym3_4_Level_fixed_82230 { background-position: -0px; }
.final_heart_sym3_4_Level_fixed_82231 { background-position: -16px; }
.final_heart_sym3_4_Level_fixed_82232 { background-position: -32px; }
.final_heart_sym3_4_Level_fixed_82233 { background-position: -48px; }
