.final_heart_coif1_3_Level_fixed_100530,
.final_heart_coif1_3_Level_fixed_100531,
.final_heart_coif1_3_Level_fixed_100532,
.final_heart_coif1_3_Level_fixed_100533 { background-image: url('final_heart_coif1_3_Level_fixed_10053_icons.png'); width: 16px; height: 16px; }

.final_heart_coif1_3_Level_fixed_100530 { background-position: -0px; }
.final_heart_coif1_3_Level_fixed_100531 { background-position: -16px; }
.final_heart_coif1_3_Level_fixed_100532 { background-position: -32px; }
.final_heart_coif1_3_Level_fixed_100533 { background-position: -48px; }
