.final_heart_sym3_2_Level_hdl_final2_6360,
.final_heart_sym3_2_Level_hdl_final2_6361,
.final_heart_sym3_2_Level_hdl_final2_6362,
.final_heart_sym3_2_Level_hdl_final2_6363 { background-image: url('final_heart_sym3_2_Level_hdl_final2_636_icons.png'); width: 16px; height: 16px; }

.final_heart_sym3_2_Level_hdl_final2_6360 { background-position: -0px; }
.final_heart_sym3_2_Level_hdl_final2_6361 { background-position: -16px; }
.final_heart_sym3_2_Level_hdl_final2_6362 { background-position: -32px; }
.final_heart_sym3_2_Level_hdl_final2_6363 { background-position: -48px; }
