.db2_3_Level_fixdt_25950,
.db2_3_Level_fixdt_25951,
.db2_3_Level_fixdt_25952,
.db2_3_Level_fixdt_25953 { background-image: url('db2_3_Level_fixdt_2595_icons.png'); width: 16px; height: 16px; }

.db2_3_Level_fixdt_25950 { background-position: -0px; }
.db2_3_Level_fixdt_25951 { background-position: -16px; }
.db2_3_Level_fixdt_25952 { background-position: -32px; }
.db2_3_Level_fixdt_25953 { background-position: -48px; }
